
.head-logo {
    float: left;
}

.header {
    background-color: #5DC9C9;
    height: 100px;
}

.header-part {
    /* background: url(../images/logo.png) no-repeat left center; */
    background-size: auto 68px;
    padding: 0.7em 0;
}

.footer {
    background: #292C34;
    padding: 2em 0;
}

.footer-text{
    color: #97999B;
    margin: 0;
    font-size: 15px;
}

